In [37]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [38]:
#First Step 
#Getting the document to be processed

seed_urls = ['https://inshorts.com/en/read/technology',
             'https://inshorts.com/en/read/sports',
             'https://inshorts.com/en/read/world']

def build_dataset(seed_urls):
    news_data = []
    for url in seed_urls:
        news_category = url.split('/')[-1]
        data = requests.get(url)
        soup = BeautifulSoup(data.content, 'html.parser')
        
        news_articles = [{'news_headline': headline.find('span', 
                                                         attrs={"itemprop": "headline"}).string,
                          'news_article': article.find('div', 
                                                       attrs={"itemprop": "articleBody"}).string,
                          'news_category': news_category}
                         
                            for headline, article in 
                             zip(soup.find_all('div', 
                                               class_=["news-card-title news-right-box"]),
                                 soup.find_all('div', 
                                               class_=["news-card-content news-right-box"]))
                        ]
        news_data.extend(news_articles)
        
    df =  pd.DataFrame(news_data)
    df = df[['news_headline', 'news_article', 'news_category']]
    return df

In [39]:
news_df = build_dataset(seed_urls)
news_df.head(10)

,news_headline,news_article,news_category
0,We are focused on offering smart mobility solu...,Hitachi India has a key role in India's urban ...,technology
1,"Kohli becomes 1st Indian, 1st Asian, 1st crick...",Team India captain Virat Kohli has become the ...,technology
2,Boeing tests pilotless combat jet in Australia...,Boeing along with the Royal Australian Air For...,technology
3,Mars rover's exciting work to happen in coming...,NASA's 27-year-old Indian-American engineer Vi...,technology
4,Elon Musk's Clubhouse chat invitation to Putin...,Russia has said that an invitation from Tesla ...,technology
5,"Sex is universal, won't ban pornography on our...",Reddit Co-founder and CEO Steve Huffman in an ...,technology
6,10-second video clip authenticated by blockcha...,A US-based art collector named Pablo Rodriguez...,technology
7,Musk's girlfriend Grimes' digital artwork sold...,Singer and Tesla CEO Elon Musk's girlfriend Gr...,technology
8,"Spectrum auction ends with ₹77,815 cr bids; Ji...",Government's two-day telecom spectrum auction ...,technology
9,Twitter to ban users who post COVID-19 misinfo...,Twitter is implementing a strike system under ...,technology

In [42]:
news_df.describe()

,news_headline,news_article,news_category
count,75,75,75
unique,73,73,3
top,YouTube suspends Trump's ex-lawyer for electio...,YouTube has suspended former US President Dona...,technology
freq,2,2,25

In [46]:
#Second Step
#cleaning the Data
import spacy
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
from bs4 import BeautifulSoup
from contractions.py import CONTRACTION_MAP
import unicodedata

nlp = spacy.load('en_core', parse=True, tag=True, entity=True)
#nlp_vec = spacy.load('en_vecs', parse = True, tag=True, #entity=True)
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')

ImportError: cannot import name 'CONTRACTION_MAP' from 'contractions' (c:\python38\lib\site-packages\contractions\__init__.py)

In [34]:
from IPython.display import display

In [35]:
from afinn import Afinn

In [36]:
from textblob import TextBlob